.button {
  background: none;
  color: var(--text-color-primary);
  font-family: var(--font-primary);
  font-size: 1em;
  cursor: pointer;
  border: 1px solid var(--text-color-primary);
  border-radius: 5em;
  padding: 1em 1.75em;
  
  &:hover,
  &:focus {
    opacity: 0.75;
  }
  &.small {
    padding: 0.5em 1em;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
